{% extends 'base.html.twig' %}

{% block title %}Hello SchoolController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Modification de l'ecole : {{ school.name }}</h1>
    {{ form_start(formEdit) }}

        {{ form_row(formEdit.name) }}

        {{ form_label(formEdit.address) }}
        {{ form_widget(formEdit.address) }}
        {{ form_errors(formEdit.address) }}
        {{ form_help(formEdit.address) }}

        {{ form_label(formEdit.postal_code) }}
        {{ form_widget(formEdit.postal_code) }}
        {{ form_errors(formEdit.postal_code) }}
        {{ form_help(formEdit.postal_code) }}
<p>
        {{ form_label(formEdit.city) }}
        {{ form_widget(formEdit.city) }}
        {{ form_errors(formEdit.city) }}
        {{ form_help(formEdit.city) }}
</p>
        {{ form_widget(formEdit.submit) }}

    {{ form_end(formEdit, {'render_rest': false}) }}
    
</div>
{% endblock %}
